# FastAPI
fastapi
uvicorn
pyngrok
streamlit
langgraph
langchain-google-genai==1.0.8
langchain-core
pydantic
python-dotenv
bcrypt  # For secure password hashing

# Graph Visualization
grandalf

# Core LangChain
langchain

# LangChain integrations
langchain-community

# LLM Providers
# Using Gemini(Google) because its free
google-generativeai
transformers