# Core LangGraph
langgraph

# Grapg Visualization
grandalf

# Core LangChain
langchain
langchain-core

# LangChain integrations
langchain-community
langchain-google-genai

# LLM Providers
# Using Gemini(Google) because its free
google-generativeai
transformers

# Vector Store & Embedding Utilities
faiss-cpu
tiktoken

# Document Loaders
unstructured  # For UnstructuredWordDocumentLoader (Word, PDFs, etc.)
python-docx
pydantic[email]

# Environment Variable Management
python-dotenv

# FastAPI
fastapi
uvicorn
pyngrok